@import 'tailwindcss';

body {
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --font-Wix_Madefor_Text: 'Wix Madefor Text', sans-serif;
}

@theme {
  --animate-wiggle: wiggle 3s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 6px 5px rgb(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 6px 5px rgb(0, 0, 0, 0.1);
  box-shadow: 0px 0px 6px 5px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
}
